body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:0px;
  top:42px;
  width:305px;
  height:518px;
}
#u680 {
  position:absolute;
  left:2px;
  top:251px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u683 {
  position:absolute;
  left:10px;
  top:80px;
  width:290px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u685 {
  position:absolute;
  left:10px;
  top:58px;
  width:90px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u687 {
  position:absolute;
  left:10px;
  top:113px;
  width:260px;
  height:20px;
  font-size:14px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:30px;
  top:143px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u690 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u691 {
  position:absolute;
  left:30px;
  top:183px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u692 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u691_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u693 {
  position:absolute;
  left:30px;
  top:219px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u694 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u693_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u695 {
  position:absolute;
  left:30px;
  top:254px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u696 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u695_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u697 {
  position:absolute;
  left:20px;
  top:14px;
  width:16px;
  height:16px;
}
#u698 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:190px;
  top:56px;
  width:115px;
  height:20px;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u701 {
  position:absolute;
  left:0px;
  top:101px;
  width:305px;
  height:1px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u703 {
  position:absolute;
  left:10px;
  top:173px;
  width:280px;
  height:1px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u705 {
  position:absolute;
  left:10px;
  top:208px;
  width:280px;
  height:1px;
}
#u706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u707 {
  position:absolute;
  left:10px;
  top:243px;
  width:280px;
  height:1px;
}
#u708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:153px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:0px;
  top:434px;
  width:305px;
  height:153px;
}
#u710 {
  position:absolute;
  left:2px;
  top:68px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:12px;
  top:531px;
  width:280px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u711_ann {
  position:absolute;
  left:285px;
  top:527px;
  width:1px;
  height:1px;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:0px;
  top:441px;
  width:305px;
  height:80px;
}
#u714 {
  position:absolute;
  left:2px;
  top:32px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u715 {
  position:absolute;
  left:30px;
  top:451px;
  width:60px;
  height:60px;
}
#u716 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u717 {
  position:absolute;
  left:122px;
  top:451px;
  width:60px;
  height:60px;
}
#u718 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u719 {
  position:absolute;
  left:210px;
  top:451px;
  width:60px;
  height:60px;
}
#u720 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u721 {
  position:absolute;
  left:10px;
  top:282px;
  width:280px;
  height:1px;
}
#u722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u723 {
  position:absolute;
  left:10px;
  top:324px;
  width:260px;
  height:20px;
  font-size:14px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u725 {
  position:absolute;
  left:20px;
  top:344px;
  width:270px;
  height:80px;
}
#u725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u725_ann {
  position:absolute;
  left:283px;
  top:340px;
  width:1px;
  height:1px;
}
#u726 {
  position:absolute;
  left:80px;
  top:289px;
  width:190px;
  height:25px;
}
#u726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u726_ann {
  position:absolute;
  left:263px;
  top:285px;
  width:1px;
  height:1px;
}
#u727 {
  position:absolute;
  left:30px;
  top:294px;
  width:50px;
  height:16px;
  font-size:12px;
}
#u728 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u727_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
