body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:578px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:578px;
}
#u604 {
  position:absolute;
  left:2px;
  top:281px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(85, 164, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 164, 232, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u606 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u607 {
  position:absolute;
  left:20px;
  top:16px;
  width:16px;
  height:16px;
}
#u608 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u609 {
  position:absolute;
  left:128px;
  top:14px;
  width:65px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  position:absolute;
  left:10px;
  top:56px;
  width:300px;
  height:104px;
}
#u612 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_ann {
  position:absolute;
  left:303px;
  top:52px;
  width:1px;
  height:1px;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  position:absolute;
  left:10px;
  top:170px;
  width:300px;
  height:104px;
}
#u614 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  position:absolute;
  left:20px;
  top:182px;
  width:86px;
  height:16px;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u617 {
  position:absolute;
  left:20px;
  top:99px;
  width:40px;
  height:40px;
}
#u618 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_ann {
  position:absolute;
  left:53px;
  top:95px;
  width:1px;
  height:1px;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:26px;
  top:139px;
  width:27px;
  height:16px;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u621 {
  position:absolute;
  left:80px;
  top:99px;
  width:40px;
  height:40px;
}
#u622 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:86px;
  top:139px;
  width:27px;
  height:16px;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u625 {
  position:absolute;
  left:140px;
  top:99px;
  width:40px;
  height:40px;
}
#u626 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  position:absolute;
  left:146px;
  top:139px;
  width:27px;
  height:16px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u629 {
  position:absolute;
  left:200px;
  top:99px;
  width:40px;
  height:40px;
}
#u630 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:206px;
  top:139px;
  width:27px;
  height:16px;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u633 {
  position:absolute;
  left:20px;
  top:209px;
  width:40px;
  height:40px;
}
#u634 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:26px;
  top:249px;
  width:27px;
  height:16px;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u637 {
  position:absolute;
  left:80px;
  top:209px;
  width:40px;
  height:40px;
}
#u638 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  position:absolute;
  left:86px;
  top:249px;
  width:27px;
  height:16px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u641 {
  position:absolute;
  left:140px;
  top:209px;
  width:40px;
  height:40px;
}
#u642 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:146px;
  top:249px;
  width:27px;
  height:16px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u645 {
  position:absolute;
  left:200px;
  top:209px;
  width:40px;
  height:40px;
}
#u646 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:206px;
  top:249px;
  width:27px;
  height:16px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:20px;
  top:68px;
  width:86px;
  height:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u651 {
  position:absolute;
  left:258px;
  top:99px;
  width:40px;
  height:40px;
}
#u652 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  position:absolute;
  left:264px;
  top:139px;
  width:27px;
  height:16px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
